<app-banner [title]="'About us'"></app-banner>
<div class="section">
    <div class="container">
        <div class="row _home">

            <div class="col-md-6">
                <img src="assets/images/about.png" alt="The sunset capetown nice view, travel">

            </div>

            <div class="col-md-6 v-center">
                <h2>
                    About us
                </h2>

                <p>
                    Sizakhele Holidays is a travel solutions company focusing on inbound tour
                    operations catering to youth travellers in Southern Africa. We provide safe,
                    affordable, informative and entertaining tours in South Africa and its
                    surrounds to those who are young and young at heart.
                </p>

            </div>

        </div>
    </div>
</div>


<div class="section s1">
    <div class="container">
        <div class="row _home">

            <div class="col-md-6">
                <p>The Company was started by Julian Nxele in 2015 while looking for a unique way to expand on his
                    past experiences while working in the travel industry. </p>

                <p>
                    It was clear that the ultimate “game changer” in travel to Southern Africa was group tours centred
                    on unique experiences which appeal to youth travellers who are looking for more than just your
                    average African Safari.
                </p>

                <p>
                    Julian decided to start Sizakhele Holidays. Sizakhele is focused on making guests feel like
                    travellers and not tourists by adding unique experiences and creating once in a lifetime local
                    interactions over and above the traditional “looking glass” safari.
                </p>

                <p>
                    To put it in a South African way; Sizakhele Holidays offers a little more, “Chesa Nyama in the Kasi”
                    (A Traditional barbeque in a South African township) then the ordinary “Gin & Tonic on the River”
                    tour.
                </p>
            </div>

            <div class="col-md-6 v-center">

          

                <p>
                    The company is South African run and owned with a Level 1 BBBEE Rating and is aware of its position
                    as a champion of communities and active advocate of building a society that adheres to the values of
                    sustainable
                </p>


                <p>
                    and eco-friendly tourism, this is at the heart of the our travel philosophy and is reflected in the
                    name Sizakhele which means, “We built it ourselves” in IsiZulu, referring to the fact that the
                    community built this company.
                </p>

                <p>
                    The Company currently offers four Unique experiences for our guests ranging from three (3) nights to
                    fourteen (14) nights and runs one guaranteed departure a month in our luxury passenger vehicle.

                    Sizakhele also offers luxury group transfers from OR Tambo on request.

                </p>
            </div>

        </div>
    </div>
</div>



<div class="section">
    <div class="container">
        <div class="row _home">

      

            <div class="col-md-6 v-center">
                <h2>
                    The Sizakhele Difference
                </h2>

                <p>
                    •	All local Taxes included  <br>
                    •	No compulsory tipping <br>
                    •	In depth knowledge of not only the wildlife but of city life and African culture<br>
                    •	Unique “Sizakhele Community” Experiences<br>
                    •	More meals with more food<br>
                    •	No paying for free time<br>
                    •	Flexible Experience Manager looking to cater to each travelers needs<br>
                    •	High quality experience for affordable rates<br>
                    
                </p>

            </div>

            <div class="col-md-6">
                <img src="assets/images/water.png" alt="The sunset capetown nice view, travel">

            </div>

        </div>
    </div>
</div>

<app-stat></app-stat>

