<div class="section">
    <div class="container">
        <div class="row _home">

            <div class="col-md-6">
                <img src="assets/images/about.png" alt="The sunset capetown nice view, travel">

            </div>

            <div class="col-md-6 v-center">
                <h2>
                    About us
                </h2>

                <p>
                    Sizakhele Holidays is a travel solutions company focusing on inbound tour
                    operations catering to youth travellers in Southern Africa. We provide safe,
                    affordable, informative and entertaining tours in South Africa and its
                    surrounds to those who are young and young at heart.
                </p>

                <a routerLink="/about-us" class="btn btn-primary">More about us</a>
            </div>

        </div>
    </div>
</div>