<div class="section">
   <div class="container">
    <div class="row _home">
        <div class="col-md-6 v-center">
            <h2>
                Best experiences
                starting from $950
                for 7 nights and 8 days.
            </h2>
    
    
            <a routerLink="/our-experiences" class="btn btn-primary">View all experiences </a>
        </div>
        <div class="col-md-6">
            <img src="assets/images/feature.png" alt="The sunset capetown nice view, travel">
    
        </div>
    
    </div>
   </div>
</div>