<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/s1.png" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>The best way to explore
                        South Africa</h1>
                    <p>We have In depth knowledge of not only the wildlife but also of city life and African culture</p>
                    <p><a class="btn btn-lg btn-primary" routerLink="/contact-us">Enquire now</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/s2.png" alt="">

            <div class="container">
                <div class="carousel-caption">
                    <h1>High quality experience for affordable rates</h1>
                    <p>To count the few
                        Cradle of Mankind,
                        Elephant Sanctuary,
                        Lion Park and many more
                    </p>
                    <p><a class="btn btn-lg btn-primary" routerLink="/our-experiences">New experiences</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/s3.png" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Flexible Experience Manager looking to cater to each travelers needs</h1>
                    <p>No compulsory tipping & No paying for free time</p>
                    <p><a class="btn btn-lg btn-primary" routerLink="/contact-us">Enquire now</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>