<app-banner [title]="'Our people'"></app-banner>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="w-50 p-2">
                    Sizakhele Holidays is run by a team of six dedicated individuals who have a strong base in customer
                    service and are friendly and efficient.
                </p>
                <br>
                <br>
            </div>
        </div>
        <div class="row">


            <div class="col-md-4" *ngFor="let item of items">
                <div class="card" >
                    <img [src]="item.Dp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.Name}}</h5>
                      <p class="card-text">{{item.Role}}</p>
                      <!-- <p class="card-text">{{item.Data}}</p> -->
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>