.section {
    background: #fff;
    padding-top: 2rem;
    min-height: auto;
    padding: 7rem 0;
}

.card {
    margin-bottom: 2rem;
    img {
        filter: grayscale(100%);
        &:hover {
            filter: grayscale(0);
        }
    }
}
