@import "~quill/dist/quill.snow.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    // background: #ecf0f1;
    background: #fff;
    font-family: "Montserrat", sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}
.btn {
    background: none;
    // border: 2px solid rgb(167, 5, 64);
    color: rgb(167, 5, 64);
    border-radius: 0;
    font-weight: 600;
    padding: 1rem;
    border: none;
    margin-right: 2rem;
    @media only screen and (max-width: 600px) {
        display: block !important;
        width: 90% !important;
        margin: 2rem auto !important;
    }
}
.btn-primary {
    // border: 2px solid #000;
    color: #fff;
    background: #000;
    &:hover {
        background: #333333 !important;
    }
    &:disabled {
        background: #989898 !important;
    }
}
.btn-green {
    // border: 2px solid rgb(7, 129, 29);
    color: rgb(7, 129, 29);
}
.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.v-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.mr-1 {
    margin-left: 1rem;
}

.mr-2 {
    margin-left: 2rem;
}

.form-control {
    background: #ecf0f1;
    border-radius: 0;
    border: none;
    padding: 1rem;
}

textarea {
    min-height: 12rem !important;
}

.form {
    width: 100%;
}
.card {
    border-radius: 0;
}
.card-img-top {
    border-radius: 0;
}
