<app-slider></app-slider>
<!-- <div class="container-fluid">
    <div class="container">
        <div class="row _home">
            <div class="col-md-4 intro">
                <h1>
                    The best way to explore
                    South Africa
                </h1>
    
                <p>
                    For a tour guide that has in depth knowledge
                    of not only the wildlife but also of the city life and
                    African culture, contact us now.
                </p>
    
                <a routerLink="/contact-us" class="btn btn-primary">Contact us</a>
            </div>
            
        </div>
    </div>
    <img src="assets/images/sunset-capetown.png" alt="The sunset capetown nice view, travel">
</div> -->

<app-home-feature></app-home-feature>
<app-home-about></app-home-about>
<app-home-experiences></app-home-experiences>
<app-stat></app-stat>